.btn-flip {
  opacity: 1;
  outline: 0;
  color: #fff;
  line-height: 70px;
  position: relative;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  font-family: "Jost";
  z-index: 10000 !important;
  border-radius: 10px;
}
.btn-flip:hover:after {
  opacity: 1;
  transform: translateY(0) rotateX(0);
}
.btn-flip:hover:before {
  opacity: 0;
  transform: translateY(50%) rotateX(90deg);
}
.btn-flip:after {
  top: 100px;
  left: 0;
  opacity: 0;
  width: 100%;
  color: white;
  display: block;
  transition: 0.5s;
  position: absolute;
  background: black;
  z-index: 10000 !important;
  content: attr(data-back);
  border-radius: 10px;
  transform: translateY(-50%) rotateX(90deg);
}
.btn-flip:before {
  top: 100px;
  left: 0;
  opacity: 1;
  color: black;
  display: block;
  padding: 0 30px;
  line-height: 40px;
  transition: 0.5s;
  border-radius: 10px;
  position: relative;
  background: white;
  content: attr(data-front);
  transform: translateY(0) rotateX(0);
  z-index: 10000 !important;
}
.top {
  border-radius: 50% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  z-index: 10000 !important;
  position: fixed;
  bottom: 30px !important;
  right: 20px !important;
}

.bg {
  background-image: url("../public/pattern.png");
  background-repeat: no-repeat;
  background-size: cover;
}
