@tailwind base;
@tailwind components;
@tailwind utilities;
/* html {
  scroll-behavior: smooth;
} */
body {
  width: 100vw;
  overflow-x: hidden;
}

.scroll-to-top {
  width: "15px !important";
  display: "none !important";
}

.top {
  border-radius: 50% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  z-index: 10 !important;
  position: fixed;
  bottom: 60px !important;
  right: 20px !important;
}

/* For WebKit-based browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: darkgrey transparent;
}
.text {
  background: linear-gradient(
    90deg,
    rgba(254, 54, 86, 1) 0%,
    rgba(255, 56, 0, 1) 100%
  ) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}
.blog {
  background: linear-gradient(
    90deg,
    rgba(102, 102, 102, 1) 0%,
    rgba(101, 87, 87, 1) 39%,
    rgba(43, 0, 0, 1) 100%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.blogTitle {
  background: linear-gradient(
    90deg,
    rgba(213, 213, 213, 1) 0%,
    rgba(131, 131, 131, 1) 40%,
    rgba(87, 87, 87, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
